<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">
	<targets>
		<!--//без имени метода<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${logger}.log" layout="${longdate}| ${level}: ${message} ${exception:format=message,stacktrace:separator=*}" encoding="UTF-8" deleteOldFileOnStartup="True" />-->
		<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${logger}.log" layout="${longdate}| ${level}: ${message} ${exception:format=message,stacktrace:separator=*}" encoding="UTF-8" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>